* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(rgb(117, 117, 156));
}
footer {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}